{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel = "icon" type = "image/jpg" href = "{% static 'blog.jpg' %}">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Blog | Tech Revolution</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="{% url 'blog:list' %}">Tech REVOLUTION</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home</a>
            </li> -->
          </ul>
          <h6 style="color:white;"> Welcome, <i> <u>  {{ user.username}} </u> </i> to Tech Revolution. </h6>
          <a class="nav-item nav-link" href="{% url 'blog:create' %}"><button class="btn btn-success" type="submit">
            Create Blog
          </button></a>
              {% if user.is_authenticated %}
              <form
                class="form-inline my-2 my-lg-0"
                action="{% url 'userAccount:logout' %}"
                method="POST"
              >
                {% csrf_token %}
                <a class="nav-item nav-link"><button class="btn btn-danger" type="submit">
                  LOGOUT
                </button></a>
              </form>
              {% endif %}
            </div>
      </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <h4 class="heading">SAHEB GHOSH</h4>
                <div class="heading-underline"></div>
		<strong>Contact Info</strong>
		<p>sahebghosh310@gmail.com</p>
		<a href="https://de.linkedin.com/in/saheb-ghosh-547842159" target="_blank"><i class="fab fa-linkedin"></i></a>
		<a href="https://www.xing.com/profile/Saheb_Ghosh" target="_blank"><i class="fab fa-xing-square"></i></a>
		<a href="https://github.com/sahebghosh" target="_blank"><i class="fab fa-github-square"></i></a>

            </div>
            <hr class="socket">
	        @copy; Saheb Ghosh.

        </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
  </body>
</html>
